*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    /* background-image: linear-gradient(red,blue);
    background-color: rgb(104, 38, 38); */
    /* background-color: linear-gradient(#e66465, #9198e5); */
}


.BG{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-40deg,red,blue);
    overflow: hidden;
}


#box-1{
    position: absolute;
    transform: rotate(-40deg);
    /* background-color: rgb(184, 104, 104); */

    background-color: inherit;
    /* transform-origin: 3vw 50vw; */
}

.box#box-1{
    position: absolute;
    left: -20vw;
    top: -30vw;
    transform: rotate(-40deg);
    /* background-color: rgb(182, 121, 121); */

    background-color: inherit;

    /* transform-origin: 3vw 50vw; */
}

.box#box-2{
    position: absolute;
    
    top:-50vw;
    left :29vw;
    transform: rotate(-40deg);
    /* background-color: rgb(179, 0, 0); */

    background-color: inherit;

    /* opacity: 0.5; */
    /* transform-origin: 3vw 50vw; */
}

.block{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-color: inherit; */
    border-radius: 3%;
    margin: 12vw;
    position: relative;

    transform: scale(1,1);
    transition: all 1s ease-in-out;
}

.block:hover{
    transform: scale(1.07,1.07); 
    /* transition:transform 2s ease-out 2s; */
}

#b1{
    /* margin-left: 3vw; */
    height: 150vw;
    width: 45vw;
}
#b2{
    /* margin-left: 3vw; */
    height: 100vw;
    width: 45vw;

}
#b3{
    /* top:-30vw;
    left :57vw; */
    height: 250vw;
    width: 50vw;
}

.title{
    display: inline-block;
    height: 12vw;
    font-weight: bold;
    font-size: 8vw;

    font-family: 'Roboto Mono', monospace;

    /* color: #fff; */
    position: absolute;
    
    background-clip: text;
    -webkit-background-clip: text; 
    /* -webkit-text-fill-color: transparent;*/
    
    color: transparent;
    
}

p{
    display: inline-block;
    height: 43vw;
    width: 95vw;
    font-weight: bold;
    font-size: 5vw;

    font-family: 'Roboto Mono', monospace;

    /* color: #fff; */
    position: absolute;
    top:90vw;
    left: -23vw;
    transform: rotate(90deg);
    
    overflow-wrap: break-word;
    
    background-clip: text;
    -webkit-background-clip: text; 
    /* -webkit-text-fill-color: transparent; */
    background-image: linear-gradient( 40deg,rgba(98,0,197,255), rgba(177,0,93,255));
    color: transparent;
}

a:link{
    text-decoration: none;
    color: inherit;
}

.st{
    font-size:6vw;
}
i{
    font-size:6vw;
}

.ability{
    display: none;
    top:51vw;
    left:-5vw;
    background-image: linear-gradient( 40deg,rgba(128,0,149,255), rgba(213,0,50,255));
}

#t1{
    left:9vw;
    bottom: 2vw;

    background-image: linear-gradient( rgba(150,0,121,255), rgba(161,0,110,255));
}

#t2{
    left: 2vw;
    top: 1vw;

    background-image: linear-gradient( rgba(181,0,88,255), rgba(193,0,73,255));
    font-size: 7.5vw;
}

#t3{
    height: 12vw;
    font-size: 10vw;
}



/* ======== line movement animation ========== */

/* === (tan 50deg ) ===
Y:12
X:10
*/

/* ===== line-1 ===== */
.line-group-1{
    transform: rotate(-40deg);
    display: block;
    position: absolute;

    transition: ease-in-out;
    /* transition-duration: 1s; */
}

#l1-1 {
    width: 4vw;
    height: 40vw;
    background: rgb(47, 0, 255);

    top:-43vw;
    left: -19vw;
    transition-duration: 0.8s;
}

#l1-2 {
    width: 1vw;
    height: 35vw;
    background: rgb(161, 77, 230);
    /* left:12vw; */

    /* top:-5vw;
    left: 12vw; */

    top:-31vw;
    left:-13vw;
    transition-duration: 0.7s;
}

#l1-3 {
    width: 0.6vw;
    height: 30vw;
    background: rgb(224, 105, 253);
    /* left:15vw; */

    top:-38vw;
    left: -18vw;
    transition-duration: 0.5s;
}
/* ======== movement ======== */
#l1-4 {
    width: 2vw;
    height: 33vw;
    background: rgb(56, 232, 255);

    top:-35vw;
    left: -5vw;

    transition-duration: 1.2s;
}

#l1-5 {
    width: 0.4vw;
    height: 25vw;
    background: rgb(255, 125, 233);

    top:-35vw;
    left: -8vw;

    transition-duration: 0.2s;
}

#l1-6 {
    width: 0.8vw;
    height: 26vw;
    background: rgb(68, 211, 255);
   
    top:-35vw;
    left: -9vw;

    transition-duration: 0.4s;
}

#l1-7 {
    width: 1.6vw;
    height: 33vw;
    background: rgb(117, 32, 255);
   
    top:-35vw;
    left: -8vw;

    transition-duration: 1s;
}

#l1-8 {
    width: 1.2vw;
    height: 21vw;
    background: rgb(99, 211, 255);

    top:-35vw;
    left: -14vw;

    transition-duration: 0.6s;
}

/* ===== line-2 ===== */
.line-group-2{
    transform: rotate(-40deg);
    display: block;
    position: absolute;

    transition: ease-in-out;
    /* transition-duration: 1s; */
}

#l2-1 {
    width: 4vw;
    height: 40vw;
    background: rgb(47, 0, 255);

    top:137vw;
    left: 131vw;
    transition-duration: 0.8s;
}

#l2-2 {
    width: 1vw;
    height: 35vw;
    background: rgb(161, 77, 230);
    /* left:12vw; */

    /* top:-5vw;
    left: 12vw; */

    top:149vw;
    left:137vw;
    transition-duration: 0.7s;
}

#l2-3 {
    width: 0.6vw;
    height: 30vw;
    background: rgb(224, 105, 253);
    /* left:15vw; */

    top:142vw;
    left: 132vw;
    transition-duration: 0.5s;
}
/* ======== movement ======== */
#l2-4 {
    width: 2vw;
    height: 33vw;
    background: rgb(56, 232, 255);

    top:145vw;
    left: 145vw;

    transition-duration: 1.2s;
}

#l2-5 {
    width: 0.4vw;
    height: 25vw;
    background: rgb(255, 125, 233);

    top:145vw;
    left: 142vw;

    transition-duration: 0.2s;
}

#l2-6 {
    width: 0.8vw;
    height: 26vw;
    background: rgb(68, 211, 255);
   
    top:145vw;
    left: 131vw;

    transition-duration: 0.4s;
}

#l2-7 {
    width: 1.6vw;
    height: 33vw;
    background: rgb(117, 32, 255);
   
    top:145vw;
    left: 136vw;

    transition-duration: 1s;
}

#l2-8 {
    width: 1.2vw;
    height: 21vw;
    background: rgb(99, 211, 255);

    top:145vw;
    left: 136vw;

    transition-duration: 0.6s;
}
